{% include "base.html.twig" %}
<div class="example-wrapper">
<div class="container p-4">
<h1>About Teacher</h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">teacher name</th>
      <th scope="col"> Subject</th>
      <th scope="col">Class</th>
    </tr>
  </thead>
  <tbody>
  {% if (teachers is defined) %}
    {% for key,teacher in teachers %}
    <tr>
    <td>{{teacher.getId()}}</td>
    <td>{{teacher.getName()}}</td>
    <td>{{teacher.getDesignation()}}</td>
    <td>{{teacher.getClass()}}</td>
    </tr>
    {% endfor %}
  {% else %}
  {{teacherError}}
  {% endif %}   
  </tbody>
</table>
</div>
</div>